
/**/
.chat-screen_texts {
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding: 30px;
    position: relative;
    list-style-type: none;
}
.chat-screen_texts>li {
    margin-bottom: 30px;
}
.chat-screen_texts .get{

}
.chat-screen_texts .get .host{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}
.chat-screen_texts .send{
    text-align: right;
}
.chat-screen_texts .message {
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    font-size: 15px;
}
.chat-screen_texts .time {
    vertical-align: bottom;
    font-size: 10px;
    opacity: 50%;
}
.chat-screen_texts .send .message {
    background-color: rgb(159, 134, 244);
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}